@font-face {
    font-family: 'lato';
    src: url(../styles/fonts/lato/lato-regular.eot);
    src: url(../styles/fonts/lato/lato-regular.woff) format('woff'),
         url(../styles/fonts/lato/lato-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(../styles/fonts/source-sans-pro/SourceSansPro-Regular.ttf) format('truetype');
}

/* Feature key */
.features {
    overflow: hidden;
    display: flex;
    background-color: rgb(8, 40, 53);
    margin: auto;
    width: 70%;
    padding: 30px;
}

.features a {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(228, 231, 228);
    text-align: left;
    min-width: 150px;
    font-family: 'source-sans-pro', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.infoSegment {
    display: block;
}

.nodeInfo {
    display: flex;
    padding: 5px 25px;
}

.nodeInfo a {
    margin: auto;
    font-size: 20px;
}

/* Clear vertical line to divide sections */
.divider {
    width: 1px;
    height: 90px;
    background-color: aliceblue;
    margin-left: 35px;
    box-shadow: 0 0 10px rgb(118, 221, 247);
}

/* Icons */
.icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 80%;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgb(118, 221, 247);
}

.startIcon {
    background-image: url(../styles/icons/arrow.svg);
    background-color: rgb(157, 236, 236);
}

.finishIcon {
    background-image: url(../styles/icons/flag.svg);
    background-color: rgb(157, 236, 236);
}

.wallIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: black;
    box-shadow: 0 0 5px rgb(118, 221, 247);
}

.weightIcon {
    background-image: url(../styles/icons/weight.svg);
    background-color: rgb(157, 236, 236);
}

.visitedIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgba(45, 184, 248, 0.75);
    box-shadow: 0 0 5px rgba(45, 184, 248, 0.75);
}

.finalPathIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgb(80, 159, 233);
    box-shadow: 0 0 5px rgb(80, 159, 233);
}

.nodeCheckbox {
    margin-top: 8px;
    padding: 5px 25px;
}

.nodeCheckbox:hover{
    cursor: pointer;
    background-color: rgb(56, 55, 55);
}

.nodeCheckbox input:checked {
    background-color: #2fad59;
}