@font-face {
    font-family: 'lato';
    src: url(../styles/fonts/lato/lato-regular.eot);
    src: url(../styles/fonts/lato/lato-regular.woff) format('woff'),
         url(../styles/fonts/lato/lato-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(../styles/fonts/source-sans-pro/SourceSansPro-Regular.ttf) format('truetype');
}

.allElements {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Common attributes of all buttons */
.button {
    cursor: pointer;
    font-family: 'source-sans-pro', Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
    color: rgb(228, 231, 228);
    outline: none;
}

/* Top navigation panel */
.topBar {
    overflow: hidden;
    display: flex;
    position: relative;
    height: 4.15vw;
    width: 100%;
    top: 0;
    color: rgb(228, 231, 228);
    background-color: #150c25;
    border-bottom: 1px solid rgb(9, 75, 87);
}

.topTitle {
    font-size: 3vh;
    color: rgb(228, 231, 228);
    margin-top: 1.06%;
    padding-left: 1.6%;
    padding-right: 1.6%;
}

.topButton {
    width: 200px;
    height: 70px;
    background-color: #140a25;
    border: #140a25;
}

.dropIcon {
    position: relative;
    margin-right: 39px;
    background-image: url(../styles/icons/dropArrow.svg);
    background-color: white;
    box-shadow: 0 0 10px rgb(118, 221, 247);
}

.rangeLabel {
    margin-right: 15px;
    margin-left: 30px;
    margin-top: 19px;
}

.rangeBar {
    -webkit-appearance: none;
    width: 6.4%;
    height: 8.3%;
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 33px;
    background-color: rgb(228, 231, 228);
    outline: none;
}

.rangeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background:rgb(38, 185, 230);
    border-radius: 50%;
    cursor: pointer;
}

.topButton:hover, .rangeLabel:hover {
    color: cyan;
}

.topDivider {
    display: inline-block;
    width: 1px;
    height: 93%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: aliceblue;
}

.underTopBar {
    position: absolute;
    top: -35px;
}

/* Side navigation panel */
.sideBar {
    overflow: hidden;
    height: 91.4%;
    width: 22%;
    background-color: rgb(2, 6, 41); 
    border-right: 1px solid rgb(9, 75, 87);
}

.sideTitle {
    font-size: 20pt;
    color: rgb(228, 231, 228);
}

.sideButton {
    height: 58px;
    width: 98%;
    font-size: 16pt;
    background-color: rgb(2, 6, 41); 
    border: #569c6d;
}

.sideButton:hover {
    color: cyan;
}

.sideDivider {
    display: inline-block;
    width: 98%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
}